.gauge{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(3.142rad)rotateX(3.142rad);
}

.rotacio-numero{
  transform: rotateY(3.142rad)rotateX(3.142rad);
  margin-top: -30%;
}

@media only screen and (max-width: 991px) and (min-width: 450px){
  .gauge{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(3.142rad)rotateX(3.142rad);  }
}

@media only screen and (max-width: 356px) {
  .gauge{
    margin-top: -20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(3.142rad)rotateX(3.142rad);
  }
}
