<mat-card class="contenidor-pagina">
    <div>
        <mat-card-header class="weather-header">
            <div mat-card-avatar class="weather-header-icon" style="margin-top:-15px!important;">
                <img src="/assets/img/logo-icon.png" alt="logo inac">
            </div>
            <mat-card-title style="margin-left:5px;">{{title}}</mat-card-title>
        </mat-card-header>
    </div>
</mat-card>

<mat-card class="weather-card" style="margin-top:15px!important; width:95%; margin-left:auto!important; margin-right:auto!important;">
    <mat-card-content>
         <div class="contenidor-formulari">              
              <div class="contenidor1">
                  <h5>Configuración SS-1</h5>
                  <div>
                      <div>Correción</div>
                      <div>3,00º</div>
                  </div>
              </div>
              <div class="contenidor2">
                    <div class="sub-contenidor1">
                          <div class="titol">
                              Orientación
                          </div>
                          <div class="contingut">
                          </div>
                    </div>
                    <div class="subcontenidor2">
                          <div class="titol">
                              Inclinación
                          </div>
                          <div class="congingut">
                          </div>
                    </div>
              </div>
         </div>
    </mat-card-content>
</mat-card>
