<mat-card class="contenidor-pagina">
    <div>
        <mat-card-header class="weather-header">
            <div mat-card-avatar class="weather-header-icon">
                <img style="margin-top:-35px!important;" src="/assets/img/logo-icon.png" alt="logo inac">
            </div>
            <div class="titol_pagina" style="width:80%;">{{title}}</div>
        </mat-card-header>
    </div>
</mat-card>

<mat-card class="weather-card shadow border rounded" style="margin-top:15px!important; width:95%; margin-left:auto!important; margin-right:auto!important; padding-bottom:0px!important;">
    <mat-card-content>
         <div class="contenidor-formulari">
              <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">              
                    <div class="contenidor1">
                        <h5>Configuración {{seguidorRebut.nom}}</h5>
                        <div style="width:100%; height:40px; margin:0px!important;">
                              <div class="shadow border rounded" style="width:49%; height:40px; display: flex; align-items: center;">
                                    <div class="casella_dades contingut2" style="padding-top:5px;padding-bottom:5px;padding-left:10px;">
                                          Correción
                                    </div>
                                    <input class="input_dades contingut2" type="number" style="margin-top:2px;"min="0" max="99"id="Limit_Orientacio_Maxim" formControlName="Limit_Orientacio_Maxim" name="Limit_Orientacio_Maxim" placeholder="0 - 99">
                              </div>
                              <span class="float-right border rounded shadow" style="margin-top:-70px">
                                    <button class="boto-petit" (click)="gotoList()"style="padding:0px!important;" mat-mat-icon-button mat-raised-button>
                                          <img class="boto-petit" src="/assets/img/exit-icon-petit.png" />
                                    </button>
                              </span>
                        </div>
                    </div>
                    <div class="contenidor2" style="margin-top:20px!important;">
                          <div class="contenidor2">
                                <div class="titol">
                                      Orientación
                                </div>
                                <div class="titol">
                                      Inclinación
                                </div>
                          </div>
                          <div class="subcontenidor1 card rounded border shadow m-auto align-content-center">
                                 <div class="contingut">
                                       <div class="limites">
                                             <div class="titol2">
                                                    Límites
                                             </div>
                                             <div class="contingut2">
                                                   <div class="fila_dades">
                                                          <div class="casella_dades">
                                                                Máximo
                                                          </div>
                                                          <input class="input_dades" type="number" id="Limit_Orientacio_Maxim" formControlName="Limit_Orientacio_Maxim" name="Limit_Orientacio_Maxim" placeholder="{{seguidorRebut.limitOrientacioMaxim | number:'2.0-1'}}º">
                                                   </div>
                                                   <div class="fila_dades">
                                                          <div class="casella_dades">
                                                                Mínimo
                                                          </div>
                                                          <input class="input_dades" type="number" id="Limit_Orientacio_Minim" formControlName="Limit_Orientacio_Minim" name="Limit_Orientacio_Minim" placeholder="{{seguidorRebut.limitOrientacioMinim| number:'2.0-1'}}º">
                                                   </div>
                                             </div>
                                       </div>
                                       <div class="entradaAnalogica">
                                             <div class="titol2">
                                                    Entrada Analógica
                                             </div>
                                             <div class="contingut2">
                                                    <div class="fila_dades">
                                                           <div class="casella_dades">
                                                                Máximo
                                                           </div>
                                                           <input class="input_dades" type="number" id="Entrada_Max_Orient" formControlName="Entrada_Max_Orient" name="Entrada_Max_Orient" placeholder="{{seguidorRebut.entradaMaxOrientacio}}">
                                                    </div>
                                                    <div class="fila_dades">
                                                           <div class="casella_dades">
                                                                  Mínimo
                                                           </div>
                                                           <input class="input_dades" type="number" id="Entrada_Min_Orient" formControlName="Entrada_Min_Orient" name="Entrada_Min_Orient" placeholder="{{seguidorRebut.sortidaMinOrientacio}}">
                                                    </div>
                                             </div>
                                       </div>
                                                    <div class="salidaEscalada">
                                                          <div class="titol2">
                                                                Salida Escalada
                                                          </div>
                                                          <div class="contingut2">
                                                                <div class="fila_dades">
                                                                      <div class="casella_dades">Máximo</div>
                                                                      <input class="input_dades" type="number" id="Sortida_Max_Orient" formControlName="Sortida_Max_Orient" name="Sortida_Max_Orient" placeholder="{{seguidorRebut.sortidaMaxOrientacio}}º">
                                                                </div>
                                                                <div class="fila_dades">
                                                                      <div class="casella_dades">Mínimo</div>
                                                                      <input class="input_dades" type="number" id="Sortida_Min_Orient" formControlName="Sortida_Min_Orient" name="Sortida_Min_Orient" placeholder="{{seguidorRebut.limitInclinacioMaxim}}º">
                                                                </div>
                                                          </div>
                                                    </div>
                                              </div>
                                        </div>
                                 <div class="subcontenidor2 card rounded border shadow m-auto align-content-center">                          
                                       <div class="congingut">
                                                    <div class="limites">
                                                          <div class="titol2">
                                                                Límites
                                                          </div>
                                                          <div class="contingut2">
                                                                <div class="fila_dades">
                                                                      <div class="casella_dades">Máximo</div>
                                                                      <input class="input_dades" type="number" id="Limit_Inclinacio_Maxim" formControlName="Limit_Inclinacio_Maxim" name="Limit_Inclinacio_Maxim" placeholder="{{seguidorRebut.limitInclinacioMaxim| number:'2.0-1'}}º">
                                                                </div>
                                                                <div class="fila_dades">
                                                                      <div class="casella_dades">Mínimo</div>
                                                                      <input class="input_dades" type="number" id="Limit_Inclinacio_Minim" formControlName="Limit_Inclinacio_Minim" name="Limit_Inclinacio_Minim" placeholder="{{seguidorRebut.limitInclinacioMinim| number:'2.0-1'}}º">
                                                                </div>
                                                          </div>
                                       </div>
                                       <div class="entradaAnalogica">
                                                          <div class="titol2">
                                                                Entrada Analógica
                                                          </div>
                                                          <div class="contingut2">
                                                                <div class="fila_dades">
                                                                      <div class="casella_dades">Máximo</div>
                                                                      <input class="input_dades" type="number" id="Entrada_Max_Incl" formControlName="Entrada_Max_Incl" name="Entrada_Max_Incl" placeholder="{{seguidorRebut.entradaMaxInclinacio}}">
                                                                </div>
                                                                <div class="fila_dades">
                                                                      <div class="casella_dades">Mínimo</div>
                                                                      <input class="input_dades" type="number" id="Entrada_Min_Incl" formControlName="Entrada_Min_Incl" name="Entrada_Min_Incl" placeholder="{{seguidorRebut.entradaMinInclinacio}}">
                                                                </div>
                                                          </div>
                                       </div>
                                       <div class="salidaEscalada">
                                                          <div class="titol2">
                                                                Salida Escalada
                                                          </div>
                                                          <div class="contingut2">
                                                                <div class="fila_dades">
                                                                      <div class="casella_dades">Máximo</div>
                                                                      <input class="input_dades" type="number" id="Sortida_Max_Incl" formControlName="Sortida_Max_Incl" name="Sortida_Max_Incl" placeholder="{{seguidorRebut.sortidaMaxInclinacio}}º">
                                                                </div>
                                                                <div class="fila_dades">
                                                                      <div class="casella_dades">Mínimo</div>
                                                                      <input class="input_dades" type="number" id="Sortida_Min_Incl" formControlName="Sortida_Min_Incl" name="Sortida_Min_Incl" placeholder="{{seguidorRebut.sortidaMinInclinacio}}º">
                                                                </div>
                                                          </div>
                                       </div>
                                 </div>
                          </div>
                          <div class="" style="text-align:center; margin-bottom:5px;">        
                                    <button class="button border rounded shadow" style="margin:10px;" mat-mat-icon-button mat-raised-button type="submit">GUARDAR</button>
                          </div>
                    </div>
              </form>
         </div>
    </mat-card-content>
</mat-card>
