.day-info {
    float:left;
    padding: 0px 5px;
    text-align:center!important;
}

.month-info {
    float:left;
    padding: 0px 5px;
    text-align:center!important;
}

.year-info {
    float:left;
    padding: 0px 5px;
    text-align:center!important;
}

mat-card{
  width:100%;
  margin-left:10px!important;
  margin-bottom:0px!important;
  text-align:center!important;
  padding-right:0px!important;
  padding-left:0px!important;
}

.contenidor{
    overflow:hidden;
    font-size: 20px;
}


@media only screen and (max-width: 1219px) and (min-width: 807px){
.contenidor{
    overflow:hidden;
    font-size: 15px;
    font-weight: bolder;
}
}

@media only screen and (max-width: 806px) and (min-width: 683px){
.contenidor{
    overflow:hidden;
    font-size: 12px;
    font-weight: bolder;
}
}

@media only screen and (max-width: 682px) and (min-width: 549px){
.contenidor{
    overflow:hidden;
    font-size: 12px;
    font-weight: bolder;
}
}

@media only screen and (max-width: 548px) and (min-width: 357px){
.contenidor{
    overflow:hidden;
    font-size: 12px;
    font-weight: bolder;
}
mat-card{
  padding-top:10px!important;
  padding-bottom:10px!important;
  margin-left:0px!important;
}
}
@media only screen and (max-width: 356px) and (min-width: 100px){
.contenidor{
    overflow:hidden;
    font-size: 10px;
    font-weight: bolder;
}
mat-card{
  padding-top:10px!important;
  padding-bottom:10px!important;
  margin-left:0px!important;
}
}
