mat-card-title.day-info {
    display: block;
    font-size: 400%;
}

.month-info {
    display: block;
    font-size: 250%;
}

.year-info {
    font-size: 150%;
}

mat-card{
  width:230px;
  margin:10px auto!important;
}


@media only screen and (max-width: 991px) and (min-width: 767px) {
  mat-card-title.day-info {
    display: block;
    font-size: 250%;
  }

  .month-info {
    display: block;
    font-size: 170%;
  }

  .year-info {
    font-size: 120%;
  }

  mat-card{
    width:150px;
    margin:0px auto!important;
  }
}

@media only screen and (max-width: 766px) and (min-width: 450px) {
  mat-card-title.day-info {
    display: block;
    font-size: 200%;
  }

  .month-info {
    display: block;
    font-size: 120%;
  }

  .year-info {
    font-size: 100%;
  }

  mat-card{
    width:110px;
    margin:0px auto!important;
  }
}

@media only screen and (max-width: 449px) and (min-width: 331px){
   mat-card-title.day-info {
    display: block;
    font-size: 150%;
  }

  .month-info {
    display: block;
    font-size: 100%;
  }

  .year-info {
    font-size: 80%;
  }

  mat-card{
    width:90px;
    margin:0px auto!important;
  }
}

@media only screen and (max-width: 330px){
  mat-card-title.day-info {
    display: block;
    font-size: 150%;
  }

  .month-info {
    display: block;
    font-size: 100%;
  }

  .year-info {
    font-size: 80%;
  }

  mat-card{
    width:90px;
    margin:0px auto!important;
  }
}
