<div class="mida-lletra" style="width:100%;font-size:20px; height:auto; min-height: 100% !important; text-align:center;">
    <mat-card class="border rounded" style="width:30%; float:left; margin-right:0px!important;padding-top:5px!important; padding-bottom:5px!important;">
        <div style="width:70%; float:left; text-align:left;">
            Orientación:
        </div>
        <div class="mida-lletra-2 posicioNum" style="width:30%; float:left;  text-align:left;">
            {{seguidor.spOrientacio|number:'1.0-0'}}&deg;
        </div>
    </mat-card>
    <mat-card class="border rounded" style="width:30%; float:left; margin-right:0px!important; padding-top:5px!important; padding-bottom:5px!important;">
        <div style="width:70%; float:left;text-align:left;">
            Inclinación:
        </div>
        <div class="mida-lletra-2 posicioNum" style="width:30%; float:left;  text-align:left;">
            {{seguidor.spInclinacio|number:'1.0-0'}}&deg;
        </div>
    </mat-card>
    <mat-card class="border rounded" style="width:30%; float:left; margin-right:0px!important;padding-top:5px!important; padding-bottom:5px!important;">
        <div style="width:45%; float:left; text-align:left;">
            Viento:
        </div>
        <div class="mida-lletra-2 posicioNum2" style="width:55%; float:left; text-align:left;">
            {{seguidor.ventActual|number:'1.0-0'}}Km/h
        </div>
        
    </mat-card>
    <div class="imatge-alarma" style="float:left; margin-left:5px!important;">
        <img *ngIf="seguidor.alarmaVent==1" class="alerta-vent-img " src="/assets/img/alert-danger-petit.png" />
    </div>
</div>

<!--*ngIf="seguidor.alarmaVent==1"-->
