@media only screen and (max-width: 766px) and (min-width: 450px) {
  .mida-lletra{
    font-size:12px!important;
    min-width:150px;
  }

  .list-group-item{
    padding-left:13px!important;
    padding-right:13px!important;
  }
}

@media only screen and (max-width: 449px) and (min-width: 331px){
  .mida-lletra{
      font-size:10px!important;
      min-width:100px;
    }

    .list-group-item{
      padding-left:6px!important;
      padding-right:6px!important;
    }
    th{
      padding-left:3px!important;
      padding-right:3px!important;
    }
    td{
      padding-left:3px!important;
      padding-right:3px!important;
    }
}

@media only screen and (max-width: 330px){
    .mida-lletra{
      font-size:8px!important;
      min-width:100px;
    }

    .list-group-item{
      padding-left:6px!important;
      padding-right:6px!important;
    }
    th{
      padding-left:2px!important;
      padding-right:2px!important;
    }
    td{
      padding-left:2px!important;
      padding-right:2px!important;
    }
}
