.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


button.next {
    border-radius: 50%;
    border: 2px solid;
}

.weather-card {
    width: 90%;
    padding: 0px;
}

/*tag nou*/
.contenidor-pagina{
  width:95%;
  margin: 0px auto!important;
  padding: 0px;
  position: relative;
  height: auto;
  min-height: 100% !important;
}


.conenidor-body{
  width:95%;
  margin: 0px auto!important;
  padding: 0px;
  position: relative;
  height: auto;
  min-height: 100% !important;
}

.seccio-informacio-general{
  height:135px;
  display:in-line block;
  overflow:visible;
}

.informacio-1{
  width:35%;
  margin-right:0px;
  float:left;
}
.informacio-2{
  margin-top:10px;
  width:40%;
  margin-right:0px;
  float:left;
  margin-left:5%;
  margin-right:5%;
}

.informacio-3{
  margin-top:10px;
  float:left;
  width:10%;
}

.btn{
  font-size:12px!important;
}




.weather-header {
    position: relative;
    padding: 12px;
    background: transparent;
    min-height: 60px;
}

.weather-header:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: ' ';
    z-index: 1;
    opacity: 0.8;
    background-image: url('https://drive.google.com/uc?id=1p1HY2dGFs5GPaDQvl9j_LzFcpz8XF0rm');
}

.weather-header mat-card-title {
    color: #fff;
    z-index: 2;
    position: relative;
}

.weather-header mat-card-subtitle {
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    z-index: 2;
    position: relative;
}

.weather-header-icon {
    font-size: 48px;
    color: #fff;
    z-index: 2;
}

.weather-card-content-info {
    background-color: #e0e0e0 !important;
}

.weather-card-content-info .wi {
    font-size: 22px;
    margin-right: 4px;
}

.weather-info-text {
    font-size: 22px;
    margin-top: 4px;
}

.weather-info-temp-up {
    font-size: 24px;
}

.weather-info-temp-up .wi {
    font-size: 30px;
    margin-right: 4px;
    color: #D32F2F;
}

.weather-info-temp-down {
    font-size: 24px;
}

.weather-info-temp-down .wi {
    font-size: 30px;
    margin-right: 4px;
    color: #1E88E5;
}

.weather-info-temp .measure {
    font-size: 32px;
}

.sunrise-sunset-spinner {
    position: absolute;
    margin-top: 20px;
    transform: rotate(-90deg);
}

.orientation-spinner {
    margin-left: 80px;
    position: absolute;
    margin-top: 75px;
    margin-bottom: 10px;
    transform: rotate(5deg);
}

.number-seguidor-orientacio-web {
    text-align:center;
    position: relative;
    font-size: 60px;
    font-weight: bolder;
    padding: 0.5em;
    color: black;
    
    margin-top:-50%;
}

.seguidor-inclinacio .number {
    font-size: 40px;
    padding: 0.5em;
    color: black;
    opacity: 1;
    position: relative;
    z-index: 10;
    margin-top:-45%;
    margin-left:55%;
    margin-right:15%!important;
}

:host /deep/ .mat-progress-spinner circle,
.mat-spinner circle,
.orientation-spinner circle {
    stroke: #ffa828;
    stroke-opacity: 0.6;
}

.weather-info-sunrise {
    margin-left: 16px;
}

.weather-info-sunrise .wi {
    margin-top: 50px;
    font-size: 30px;
}

.weather-info-sunrise .hour {
    position: absolute;
    margin-top: -20px;
}

.weather-info-sunset {
    margin-left: -16px;
}

.weather-info-sunset .wi {
    margin-top: 50px;
    font-size: 30px;
}

.weather-info-sunset .hour {
    position: absolute;
    margin-top: -20px;
}

/*Css del div d'inclinació*/
.imatge-inclinada-1{
  padding-top:5%;
}

.imatge-inclinada-2{
  margin-top: -1%;
  margin-bottom: -50%;
}

.contenidor-orientacio{
  height: 325px;
  padding-top:10%;
}
.contenidor-inclinacio-web{
  height: 325px;
  padding-top:10%;
  display: auto;
  visibility: visible;
}

.contenidor-produccio-mobil{
  display: none;
  visibility: hidden;
}

.seguidor-orientacio-mobil{
  display: none;
  visibility: hidden;
}

.seguidor-orientacio-web{
  display: inline;
  visibility: visible;
}

.sense-marges{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.gauge .reading-block{
  font-size:0px!important;
}

.div1{
  width:40%;
  padding-right:5%;
  padding-left:5%;
  float: left;
}

.div2{
  width:40%;
  float: left;
  padding-top:1%;
}

.div3{
  width:20%;
  padding-left:5%;
  padding-right:5%;
  float: left;
  text-align:center;
}

.contenidor-personalitzat{
  overflow:hidden;
  margin-top:40px;
  margin-bottom:40px;
}

.contenidor-petit{
  width:30%;
  margin: 0% 1.5%;
}

.boto-petit{
    width:48px;
    height:48px;
  }

  .controlador-produccio{
    margin-top:10%;
  }

  .posicioProdDiaria{
    margin-top:-20%;
    height:18px!important;
  }


.background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

@media only screen and (max-width: 1219px) and (min-width: 807px){
.seccio-informacio-general{
  height:135px;
  display:in-line block;
  overflow:visible;
}
.contenidor-inclinacio-web{
  min-height: 240px!important;
  max-height: 280px!important;
  min-width: 125px!important;
  padding-top:10%;
}

.boto-petit{
    width:48px;
    height:48px;
  }

  .seguidor-inclinacio .number {
    font-size: 30px;
    padding: 0.5em;
    color: black;
    opacity: 1;
    position: relative;
    z-index: 10;
    margin-top:-40%;
    margin-left:55%;
    margin-right:15%!important;
}

.background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

}

@media only screen and (max-width: 806px) and (min-width: 683px){
.seccio-informacio-general{
  height:115px;
  display:in-line block;
  overflow:visible;
}
.div-secundari{
  height:60px!important;
}

.contenidor-inclinacio-web{
  min-height: 225px!important;
  max-height: 225px!important;
  min-width: 125px!important;
  padding-top:10%;
}
.mida-lletra-titol{
    font-size:20px!important;
}
.mida-lletra-text{
  font-size:15px!important;
}
.seguidor-inclinacio .number {
    width:50%;
    font-size: 40px;
    padding: 0.5em;
    color: black;
    opacity: 1;
    position: relative;
    z-index: 10;
    margin-top:-40%;
    margin-left:auto;
    margin-right:5%!important;
}

.boto-petit{
    width:48px;
    height:48px;
  }

  .controlador-produccio{
    margin-top:0%;
  }

  .background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}
}

@media only screen and (max-width: 682px) and (min-width: 549px){
.seccio-informacio-general{
  height:135px;
  display:in-line block;
  overflow:visible;
}
.contenidor-inclinacio-web{
  min-height: 225px!important;
  max-height: 225px!important;
  min-width: 125px!important;
  padding-top:10%;
}
.mida-lletra-titol{
    font-size:20px!important;
}
.mida-lletra-text{
  font-size:15px!important;
}

.seguidor-inclinacio .number {
    width:50%;
    font-size: 35px;
    padding: 0.5em;
    color: black;
    opacity: 1;
    position: relative;
    z-index: 10;
    margin-top:-40%;
    margin-left:auto;
    margin-right:5%!important;
}

.boto-petit{
    width:48px;
    height:48px;
  }

  .controlador-produccio{
    margin-top:-10%;
  }

   .posicioProdDiaria{
    margin-top:-20%;
    height:36px!important;
  }
.background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

}
/*Fins aqui funciona correcte*/

@media only screen and (max-width: 548px) and (min-width: 357px){
.seccio-informacio-general{
  height:110px;
  display:in-line block;
  overflow:visible;
}
.div-secundari{
  height:60px!important;
}

.mida-lletra-text{
  font-size:12px!important;
}

.contenidor-alarmes{
  text-align: center;
  padding:5px 0px!important;
  width:49%!important;
}

.contenidor-alarmes2{
  margin-top:-18%!important;
}

.imatge-inclinada-1{
  margin-top:20%!important;
}

#dropdownMenuButton{
  padding:1px!important;
  margin-top:7px;
}

.contenidor-inclinacio-web{
  min-height: 135px!important;
  max-height: 135px!important;
  min-width: 100px!important;
  padding-top:0%;
}
.imatge-inclinada-2{
  height:80px!important;
}

.mida-lletra-titol2{
    font-size:10px!important;
}
.mida-lletra-text2{
    font-size:10px!important;
}

.padding-reduit{
  padding:3px;
}

.seguidor-inclinacio .number {
    width:50%;
    font-size: 20px;  
    padding: 0.5em;
    color: black;
    opacity: 16;
    position: relative;
    z-index: 10;
    margin-top:-50%;
    margin-left:auto;
    margin-right:5%!important;
  }

.background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}


.boto-petit{
    width:24px;
    height:auto;
  }

  .titol-mobil{
  font-size: 15px;
}

.controlador-produccio{
    margin-top:-25%;
    margin-left:-7%;
  }

.mida-inv{
    font-size:11px;
    font-weight: bold;
  }

   .posicioProdDiaria{
    margin-top:-65%;
    height:36px!important;
  }

}

@media only screen and (max-width: 356px) and (min-width: 100px){
.seccio-informacio-general{
  height:105px;
  display:in-line block;
  overflow:visible;
}
.div-secundari{
  height:60px!important;
}

.contenidor-alarmes2{
    margin-top:-25px;
}

.mida-lletra-titol2{
    font-size:10px!important;
}
.mida-lletra-text2{
    font-size:10px!important;
}

.imatge-llamp{
  visibility:hidden;
  display:none;
}

.boto-petit{
    width:24px;
    height:auto;
  }

  .mida-lletra-text{
    font-size:12px!important;
}

.contenidor-alarmes{
  text-align: center;
  padding: 5px 0px!important;
  width:49%!important;
}


.padding-reduit{
  padding:3px;
}

.contenidor-inclinacio-web{
  min-height: 105px!important;
  max-height: 105px!important;
  min-width: 90px!important;
  padding-top:20%;
}

#dropdownMenuButton{
  padding:1px!important;
  margin-top:7px;
}
.informacio-2{
  margin-top:10px;
  width:40%;
  margin-right:0px;
  float:left;
  margin-left:1%;
  margin-right:1%;
}
.informacio-1{
  width:37%;
  margin-right:0px;
  float:left;
}

.seguidor-inclinacio .number {
    width:50%;
    font-size: 15px;
    padding: 0.5em;
    color: black;
    opacity: 1;
    position: relative;
    z-index: 10;
    margin-top:-60%;
    margin-left:auto;
    margin-right:5%!important;
  }

  .background-custom-image{
    width:90%;
    padding-top: 61%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.titol-mobil{
  font-size: 12px;
}

.mida-div{
     min-width: 125px!important;
  }

  .controlador-produccio{
    margin-top:-50%;
    margin-left:-10%;
  }

  .mida-inv{
    font-size:10px;
    font-weight: bold;
  }

.posicioProdDiaria{
    margin-top:-70%;
    height:36px!important;
  }

  .imatge-inclinada-1{
  margin-top:0%!important;
}

}
