button.next {
    border-radius: 50%;
    border: 2px solid;
}

.weather-card {
    width: 90%;
    padding: 0px;
}

.weather-header {
    position: relative;
    padding: 12px;
    background: transparent;
    min-height: 60px;
}

.weather-header:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: ' ';
    z-index: 1;
    opacity: 0.8;
    background-image: url('https://drive.google.com/uc?id=1p1HY2dGFs5GPaDQvl9j_LzFcpz8XF0rm');
}

.weather-header mat-card-title {
    margin-left: 20px;
    color: #fff;
    z-index: 2;
    position: relative;
}

.weather-header mat-card-subtitle {
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    z-index: 2;
    position: relative;
}

.weather-header-icon {
    font-size: 48px;
    color: #fff;
    z-index: 2;
}

.weather-card-content-info {
    background-color: #e0e0e0 !important;
}

.weather-card-content-info .wi {
    font-size: 22px;
    margin-right: 4px;
}

.weather-info-text {
    font-size: 22px;
    margin-top: 4px;
}

.weather-info-temp-up {
    font-size: 24px;
}

.weather-info-temp-up .wi {
    font-size: 30px;
    margin-right: 4px;
    color: #D32F2F;
}

.weather-info-temp-down {
    font-size: 24px;
}

.weather-info-temp-down .wi {
    font-size: 30px;
    margin-right: 4px;
    color: #1E88E5;
}

.weather-info-temp .measure {
    font-size: 32px;
}

.sunrise-sunset-spinner {
    position: absolute;
    margin-top: 20px;
    transform: rotate(-90deg);
}

.orientation-spinner {
    margin-left: 80px;
    position: absolute;
    margin-top: 75px;
    margin-bottom: 10px;
    transform: rotate(5deg);
}

.number-seguidor-orientacio-web {
    text-align:center;
    position: relative;
    font-size: 60px;
    font-weight: bolder;
    padding: 0.5em;
    color: black;
    
    margin-top:-50%;
}

.seguidor-inclinacio .number {
    font-size: 40px;
    font-weight: bolder;
    border-radius: 50%;
    border: 10px solid;
    padding: 0.5em;
    color: #ffa828;
    opacity: 0.6;
    position: relative;
    z-index: 10;
    margin-top:-60%;
    margin-left:auto;
    margin-right:5%!important;
}

:host /deep/ .mat-progress-spinner circle,
.mat-spinner circle,
.orientation-spinner circle {
    stroke: #ffa828;
    stroke-opacity: 0.6;
}

.weather-info-sunrise {
    margin-left: 16px;
}

.weather-info-sunrise .wi {
    margin-top: 50px;
    font-size: 30px;
}

.weather-info-sunrise .hour {
    position: absolute;
    margin-top: -20px;
}

.weather-info-sunset {
    margin-left: -16px;
}

.weather-info-sunset .wi {
    margin-top: 50px;
    font-size: 30px;
}

.weather-info-sunset .hour {
    position: absolute;
    margin-top: -20px;
}

/*Css del div d'inclinació*/
.imatge-inclinada-1{
  padding-top:5%;
}

.imatge-inclinada-2{
  margin-top: -1%;
  margin-bottom: -50%;
}

.contenidor-orientacio{
  height: 325px;
  padding-top:10%;
}
.contenidor-inclinacio-web{
  height: 325px;
  padding-top:10%;
  display: auto;
  visibility: visible;
}

.contenidor-inclinacio-mobil{
  display: none;
  visibility: hidden;
}

.seguidor-orientacio-mobil{
  display: none;
  visibility: hidden;
}

.seguidor-orientacio-web{
  display: inline;
  visibility: visible;
}

.sense-marges{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.gauge .reading-block{
  font-size:0px!important;
}

@media only screen and (max-width: 991px) and (min-width: 767px) {

.seguidor-inclinacio .number {
    width:35%;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 50%;
    border: 10px solid;
    padding: 0.5em;
    color: #ffa828;
    opacity: 0.6;
    position: relative;
    z-index: 10;
    margin-top:-40%;
    margin-left:auto;
    margin-right:5%!important;
  }

  .number-seguidor-orientacio-mobil {
    text-align:center;
    position: relative;
    font-size: 45px;
    font-weight: bolder;
    padding: 0.5em;
    color: black;
    margin-top:-60%;
}

  .calcul-distancies{
    padding-left:25px!important;
    padding-right: 0px!important;
  }

 .contenidor-petit{
    max-width:30%;
  }

  .contenidor-orientacio{
  height: 125px!important;
  max-height: 200px!important;
  padding-top:10%;
}
.contenidor-inclinacio-web{
  min-height: 250px;
  padding-top:10%;
  display: none;
  visibility: hidden;
}

.contenidor-inclinacio-mobil{
  min-height: 210px!important;
  max-height: 210px!important;
  min-width: 125px!important;
  padding-top:10%;
  display: inherit;
  visibility: visible;
}

.seguidor-orientacio-mobil{
  visibility: visible;
  display: inline;
}

.seguidor-orientacio-web{
  visibility: hidden;
  display: none;
}

.background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.titol-mobil{
  font-size: 20px;
}

.no-margin{
  padding-left: 15px!important;
  padding-right: 0px!important;
}

.posicionament1{
  float: left;
  clear: none;
}

.amplada-h3{
  width:50%;
  float: left;
}

.amplada-mobil{
  margin-top:20px!important;
  min-width:100%!important;
}

.marge-mobil{
  margin-left:8.33%!important;
}
  
} 


@media only screen and (max-width: 766px) and (min-width: 450px) {
  .seguidor-inclinacio .number {
    width:35%;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 50%;
    border: 8px solid;
    padding: 0.5em;
    color: #ffa828;
    opacity: 0.6;
    position: relative;
    z-index: 10;
    margin-top:-50%;
    margin-left:auto;
    margin-right:5%!important;
  }

  .number-seguidor-orientacio-mobil {
    text-align:center;
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    padding: 0.5em;
    color: black;
    margin-top:-55%;
}

  .calcul-distancies{
    padding-left:15px!important;
    padding-right: 0px!important;
  }

  .contenidor-petit{
    max-width:30%;
  }

  .contenidor-orientacio{
  height: 125px!important;
  max-height: 200px!important;
  padding-top:10%;
}
.contenidor-inclinacio-web{
  min-height: 125px;
  padding-top:10%;
  display: none;
  visibility: hidden;
}

.contenidor-inclinacio-mobil{
  min-height: 150px!important;
  max-height: 150px!important;
  min-width: 125px!important;
  padding-top:10%;
  display: inherit;
  visibility: visible;
}

.seguidor-orientacio-mobil{
  visibility: visible;
  display: inline;
}

.seguidor-orientacio-web{
  visibility: hidden;
  display: none;
}

.background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.titol-mobil{
  font-size: 13px;
}

.no-margin{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.posicionament1{
  float: left;
  clear: none;
}

.amplada-h3{
  width:50%;
  float: left;
}

.amplada-mobil{
  margin-top:20px!important;
  min-width:100%!important;
}

.marge-mobil{
  margin-left:8.33%!important;
}

}

@media only screen and (max-width: 449px) and (min-width: 331px){
  .seguidor-inclinacio .number {
    width:35%;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    border: 5px solid;
    padding: 0.5em;
    color: #ffa828;
    opacity: 0.6;
    position: relative;
    z-index: 10;
    margin-top:-40%;
    margin-left:auto;
    margin-right:5%!important;
  }

  .number-seguidor-orientacio-mobil {
    text-align:center;
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    padding: 0.5em;
    color: black;
    margin-top:-80%;
}

  .tamany-reduit{
    font-size: 12px;
  }

  .float-right{
    float: left!important;
    padding-left:5px;
  }

  .mida-div{
     min-width: 110px!important;
  }

  .calcul-distancies{
    padding-left:15px!important;
    padding-right: 0px!important;
  }

  .contenidor-petit{
    max-width:30%;
  }

  .contenidor-orientacio{
  height: 125px!important;
  max-height: 200px!important;
  padding-top:10%;
}
.contenidor-inclinacio-web{
  min-height: 125px;
  padding-top:10%;
  display: none;
  visibility: hidden;
}

.contenidor-inclinacio-mobil{
  min-height: 110px!important;
  max-height: 100px!important;
  min-width: 110px!important;
  padding-top:10%;
  display: inherit;
  visibility: visible;
}

.extra-padding{
  padding-top:20%;
}

.seguidor-orientacio-mobil{
  visibility: visible;
  display: inline;
}

.seguidor-orientacio-web{
  visibility: hidden;
  display: none;
}

.background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.titol-mobil{
  font-size: 10px;
}

.no-margin{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.posicionament1{
  float: left;
  clear: none;
}

.amplada-h3{
  width:50%;
  float: left;
}

.amplada-mobil{
  margin-top:20px!important;
  min-width:100%!important;
}

.marge-mobil{
  margin-left:8.33%!important;
}

}

@media only screen and (max-width: 330px){
  .seguidor-inclinacio .number {
    width:35%;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 50%;
    border: 5px solid;
    padding: 0.5em;
    color: #ffa828;
    opacity: 0.6;
    position: relative;
    z-index: 10;
    margin-top:-40%;
    margin-left:auto;
    margin-right:5%!important;
  }

  .number-seguidor-orientacio-mobil {
    text-align:center;
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    padding: 0.5em;
    color: black;
    margin-top:-100%;
}

  .tamany-reduit{
    font-size: 10px;
  }

  .float-right{
     float: left!important;
  }

  .mida-div{
     min-width: 90px!important;
  }

  .contenidor-petit{
    max-width:30%;
  }

  .extra-padding{
  padding-top:20%!important;
}

  .contenidor-orientacio{
  height: 90px!important;
  max-height: 200px!important;
  padding-top:10%;
}
.contenidor-inclinacio-web{
  min-height: 90px;
  padding-top:10%;
  display: none;
  visibility: hidden;
}

.contenidor-inclinacio-mobil{
  min-height: 90px!important;
  max-height: 90px!important;
  min-width: 90px!important;
  padding-top:10%;
  display: inherit;
  visibility: visible;
}

.seguidor-orientacio-mobil{
  visibility: visible;
  display: inline;
}

.seguidor-orientacio-web{
  visibility: hidden;
  display: none;
}

.background-custom-image{
    width:100%;
    padding-top: 51%;
    background: url('/assets/img/footSeguidor.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.titol-mobil{
  font-size: 15px;
}

.no-margin{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.posicionament1{
  float: left;
  clear: none;
}

.amplada-h3{
  width:50%;
  float: left;
}

.amplada-mobil{
  margin-top:20px!important;
  min-width:100%!important;
}

.marge-mobil{
  margin-left:4.33%!important;
}

}