<mat-card class="weather-card">
    <mat-card-header class="weather-header">
        <div mat-card-avatar class="weather-header-icon">
            <img src="/assets/img/logo-icon.png" alt="logo inac">
        </div>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="4">
            <mat-grid-tile cols="1">
                <app-calendar-card></app-calendar-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <app-dades-generals [seguidor]="seguidorField"></app-dades-generals>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="alert alert-dark">{{seguidorField.seguidors[segNum].nom}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <button type="button" class="btn btn-light next" (click)="prevSeg()"><</button>
                </div>
                <div class="col-10">
                    <div class="container">
                        <div class="row" style="display:flex;justify-content: space-around;">
                            <div class="col-6" style="min-width: 300px;">
                                <h4 class="text-center">RD Orientación</h4>
                                <div class="card rounded border border-warning shadow m-auto align-content-center" style="margin-right: 5px; border-radius: 1em;">
                                 <!--<ngx-gauge [type]="gaugeType" [value]="seguidorField.seguidors[this.segNum].rdOrientacio" [thick]="15" [label]="gaugeLabel" [append]="gaugeAppendText">
                                    </ngx-gauge>-->
                                    <app-seguidor-orientacio [seguidorField]=seguidorField.seguidors[this.segNum].rdOrientacio></app-seguidor-orientacio> 
                                </div>
                                <div class="text-lg-center uk-text-bold m-3 col-9 border border-warning rounded shadow">
                                    {{seguidorField.seguidors[segNum].spOrientacioMan}}
                                </div>
                            </div>
                            <div class="col-6" style="min-width: 300px;">
                                <h4 class="text-center">RD Inclicación</h4>
                                <div class="text-center card rounded border border-warning shadow">
                                    <img class="mx-auto d-block flex-auto" width="80%" src="/assets/img/headSeguidor.png" alt="cap del seguidor" style="float: inline-start;transform:rotate(-{{seguidorField.seguidors[segNum].rdInclinacio}}deg); 
                                               margin-top: 5%">
                                    <mat-grid-list cols="1" style="margin-top:-10%;background-position: center;
                                    background-repeat: no-repeat; background-size:auto; position: relative; z-index: 1000;
                                    background-image: url('/assets/img/footSeguidor.png');">
                                        <mat-grid-tile class="seguidor-inclinacio">
                                            <div class="number">{{seguidorField.seguidors[segNum].rdInclinacio|number:'1.0-0'}}</div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                                <div class="text-lg-center uk-text-bold m-3 col-9 border border-warning rounded shadow">
                                    {{seguidorField.seguidors[segNum].spInclinacioMan}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-3">
                            <button mat-mat-icon-button mat-raised-button>
                                <mat-icon class="fas fa-hand-paper"></mat-icon>
                                Auto
                            </button>
                        </div>
                        <div class='col-9'>
                            <div class="card border-warning mb-3">
                                <div class="card-header">{{ "Alarmas" | uppercase }}
                                    <span class="float-right">
                                        <button mat-fab color="warn" style="font-size:1.5em; color: white" aria-label="Icon button to refresh alarms">
                                            <mat-icon class="fas fa-sync"></mat-icon>
                                          </button>
                                    </span>
                                </div>
                                <div class="card-body text-warning">
                                    <h5 class="card-title">Error Variador</h5>
                                    <p class="card-text">9:40h: Error variador</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-light next" (click)="nextSeg()">></button>
                </div>
            </div>
        </div>
        <div class="container-12">

        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
</mat-card>