<mat-card class="weather-card">
    <mat-card-header class="weather-header">
        <div mat-card-avatar class="weather-header-icon">
            <img src="/assets/img/logo-icon.png" alt="logo inac">
        </div>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="seguidor-orientacio-web">
          <mat-grid-list cols="4">
              <mat-grid-tile cols="1">
                  <app-calendar-card></app-calendar-card>
              </mat-grid-tile>
              <mat-grid-tile colspan="3">
                  <app-dades-generals [seguidor]="seguidorField"></app-dades-generals>
              </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 seguidor-orientacio-web">
                    <h3 class="alert alert-dark ">{{seguidorField.seguidors[segNum].nom}}</h3>
                </div>
                <div class="posicionament1 seguidor-orientacio-mobil" style="min-width:100%; margin-top:20px;">
                        <div style="width:25%; float:left; text-align:center; margin: 8.8px 0px;">
                            <button type="button" class="btn btn-light next seguidor-orientacio-mobil" (click)="prevSeg()"><</button>
                        </div>
                        <div style="width:50%; float:left; text-align:center;">
                            <h3 class="alert alert-dark">{{seguidorField.seguidors[segNum].nom}}</h3>
                        </div>
                        <div style="width:25%; float:left; text-align:center; margin: 8.8px 0px;">
                            <button type="button" class="btn btn-light next seguidor-orientacio-mobil" (click)="nextSeg()">></button>
                        </div>
                </div>
            </div>                
            <div class="row">
                <div class="col-1 seguidor-orientacio-web">
                    <button type="button" class="btn btn-light next" (click)="prevSeg()"><</button>
                </div>
                <div class="col-10 marge-mobil">
                    <div class="container no-margin">
                        <div class="row" style="display:flex;justify-content: space-around;">
                            <div class="col-6 contenidor-petit" style="min-width: 50%;">
                                <h4 class="text-center titol-mobil">RD Orientación</h4>

                                <div class="contenidor-inclinacio-web card rounded border border-warning shadow m-auto align-content-center" style="margin-right: 5px; border-radius: 1em;">
                                    <app-seguidor-orientacio class="seguidor-orientacio-web" [size]="250" [seguidorField]=seguidorField.seguidors[this.segNum].rdOrientacio></app-seguidor-orientacio>
                                </div>
                                <div class="contenidor-inclinacio-mobil card rounded border border-warning shadow m-auto align-content-center" style="margin-right: 5px; border-radius: 1em;">
                                    <app-seguidor-orientacio class="seguidor-orientacio-mobil" [size]="100" [seguidorField]=seguidorField.seguidors[this.segNum].rdOrientacio></app-seguidor-orientacio>
                                </div>

                                <div class="text-lg-center uk-text-bold m-3 col-9 border border-warning rounded shadow">
                                    {{seguidorField.seguidors[segNum].spOrientacioMan}}
                                </div>
                            </div>
                            <div class="col-6 contenidor-petit" style="min-width: 50%;">
                                <h4 class="text-center titol-mobil">RD Inclicación</h4>

                                <div class="contenidor-inclinacio-web text-center card rounded border border-warning shadow ">
                                    <img class="imatge-inclinada-1 mx-auto d-block flex-auto" width="80%" src="/assets/img/headSeguidor.png" alt="cap del seguidor" style="float: inline-start;transform:rotate(-{{seguidorField.seguidors[segNum].rdInclinacio}}deg); 
                                               margin-top: 5%">
                                    <mat-grid-list cols="1" class="imatge-inclinada-2" style="background-position: center top;
                                    background-repeat: no-repeat; background-size:auto; position: relative; z-index: 1000;
                                    background-image: url('/assets/img/footSeguidor.png');">
                                        <mat-grid-tile class="seguidor-inclinacio">
                                            <div class="number">{{seguidorField.seguidors[segNum].rdInclinacio|number:'1.0-0'}}</div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>

                                <div class="contenidor-inclinacio-mobil text-center card rounded border border-warning shadow ">
                                    <div>
                                      <img class="imatge-inclinada-1 mx-auto d-block flex-auto" width="80%" src="/assets/img/headSeguidor.png" alt="cap del seguidor" style="float: inline-start;transform:rotate(-{{seguidorField.seguidors[segNum].rdInclinacio}}deg); 
                                               margin-top: 5%">
                                    </div>
                                    <div class="background-custom-image">
                                        <mat-grid-tile class="seguidor-inclinacio">
                                            <div class="number">{{seguidorField.seguidors[segNum].rdInclinacio|number:'1.0-0'}}</div>
                                        </mat-grid-tile>
                                    </div>
                                </div>

                                <div class="text-lg-center uk-text-bold m-3 col-9 border border-warning rounded shadow">
                                    {{seguidorField.seguidors[segNum].spInclinacioMan}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3 aParent">
                        <div class="col-3 no-margin aSon">
                            <button mat-mat-icon-button mat-raised-button>
                                <mat-icon class="fas fa-hand-paper"></mat-icon>
                                Auto
                            </button>
                        </div>
                        <div class='col-9 no-margin amplada-mobil'>
                            <div class="card border-warning mb-3 ">
                                <div class="card-header">{{ "Alarmas" | uppercase }}
                                    <span class="float-right">
                                        <button mat-fab color="warn" style="font-size:1.5em; color: white; size:28px;" aria-label="Icon button to refresh alarms">
                                            <mat-icon class="fas fa-sync"></mat-icon>
                                        </button>
                                    </span>
                                </div>
                                <div class="card-body text-warning">
                                    <h5 class="card-title">{{seguidorField.seguidors[segNum].alarmes}}</h5>
                                    <p class="card-text">{{seguidorField.seguidors[segNum].dtlAlarmes|slice:15:23}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 seguidor-orientacio-web">
                    <button type="button" class="btn btn-light next" (click)="nextSeg()">></button>
                </div>
            </div>
        </div>
        <div class="container-12">

        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
</mat-card>
